*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat';
}

header nav a.myHover:hover{
    text-decoration: underline;
    font-weight: bold;
}

header nav div.logo {
    width: 50px;
    height: 30px;
}

section div.contenedor {/*en este blque tenemos que agregar mediaqueries para pantallas pequeñas*/
    width: 100%;
    height: auto;
    display: grid;
    gap: 50px;
    justify-content: space-evenly;
    grid-template-areas: 
        'tarjeta1 tarjeta2'
        'tarjeta3 tarjeta4'
    ;

}

div.cajas{
    width: 450px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.caja1{
    grid-area: tarjeta1;
    background-image: url('../img/ciclismo1.jpg');
    background-size: cover;
    background-position: center center;
    
}

.caja1:hover{
    cursor: pointer;    
    filter: brightness(0.9);
}

.caja2{
    grid-area: tarjeta2;
    background-image: url('../img/wintersports1.jpg');
    background-size: cover;
    background-position: center center;
}

.caja2:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.caja3{
    grid-area: tarjeta3;
    background-image: url('../img/running1.jpg');
    background-size: cover;
    background-position: center center;
}

.caja3:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.caja4{
    grid-area: tarjeta4;
    background-image: url('../img/motorsports1.jpg');
    background-size: cover;
    background-position: center center;
}

.caja4:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

div a.link-target{
    text-decoration: none;
    color:#000000;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #EBEDEF;
    border-radius: 5px;
}

div a.link-target:hover{
    text-decoration: underline;
    color: #EBEDEF;
    background-color: #000000;
    filter: brightness(0.8);
}


    












